.repo-preview-wrapper {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    '. . . . . . . . one  one '
    '. . . . . . two  two  one  one '
    '. . . . . . two  two  four  four '
    '. . . . three  three  three  three  four  four '
    '. . six  six  three  three  three  three  four  four '
    'seven  seven  six  six  five  five  five  five  five  five '
    'seven  seven  six  six  five  five  five  five  five  five ';
}
.grid-box {
  display: flex;
  align-items: center;
  border-radius: $border-radius-size;
  overflow: hidden;
  background-color: black;
  box-shadow: 1px 1px 2px 1px #252525;

  img {
    width: 100%;
  }
  &.one,
  &.two,
  &.three,
  &.six,
  &.seven {
    border-top-left-radius: $border-radius-grid;
  }
}
.one {
  grid-area: one;
}
.two {
  grid-area: two;
}
.three {
  grid-area: three;
}
.four {
  grid-area: four;
}
.five {
  grid-area: five;
}
.six {
  grid-area: six;
}
.seven {
  grid-area: seven;
}
.background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  &.drumKit {
    background-image: url('../imgs/repoPreviews/drumkit.gif');
  }
  &.fruitStand {
    background-image: url('../imgs/repoPreviews/fruitstand.gif');
  }
  &.typeWriter {
    background-image: url('../imgs/repoPreviews/typewritter.gif');
  }
  &.ttt {
    background-image: url('../imgs/repoPreviews/ttt.gif');
  }
  &.flexPanels {
    background-image: url('../imgs/repoPreviews/flex-panels.gif');
  }
  &.hightlighterDom {
     background-image: url('../imgs/repoPreviews/follow-along.gif');
  }
  &.checklistLocalstorage {
     background-image: url('../imgs/repoPreviews/list.gif');
  }
}