$primary-color: #444;
$secondary-color: #eece1a;
$yellow: #eece1a;
$blue: #b7f5de;
$show-home-image: true;
$home-image: url('../imgs/Optimized-bokeh-eyeglasses-eyewear-1331386.jpg');
$background-opacity: 0.9;
$border-radius-size: 0.6rem;
$border-radius-grid: 2rem;


@mixin easeOut {
  transition: all 0.5s ease-out;
}

@mixin background($background) {
  @if $show-home-image {
    &#bg-img {
      background: $background;
      background-attachment: fixed;
      background-size: cover;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba($primary-color, $background-opacity);
      }
    }
  }
}

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return #000;
  } @else {
    @return #fff;
  }
}

// Media Query Mixins
@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
/*
  example usage:
  @include keyframe(changecolour) { 0% {color: #000;} 100% {color: #fff;}}
*/
@mixin keyframes($animation_name) {
  @-webkit-keyframes #{$animation_name} {
    @content;
  }

  @-moz-keyframes #{$animation_name} {
    @content;
  }

  @-o-keyframes #{$animation_name} {
    @content;
  }

  @keyframes #{$animation_name} {
    @content;
  }
}
/*
  Example usage:
  @include animation(10s, 5s, changecolour)
*/
@mixin animation($delay, $duration, $animation, $timing: ease-out) {
  -webkit-animation-delay: $delay;
  -webkit-animation-duration: $duration;
  -webkit-animation-name: $animation;
  -webkit-animation-timing-function: $timing;
  -webkit-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

  -moz-animation-delay: $delay;
  -moz-animation-duration: $duration;
  -moz-animation-name: $animation;
  -moz-animation-timing-function: $timing;
  -moz-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

  -o-animation-delay: $delay;
  -o-animation-duration: $duration;
  -o-animation-name: $animation;
  -o-animation-timing-function: $timing;
  -o-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

  animation-delay: $delay;
  animation-duration: $duration;
  animation-name: $animation;
  animation-timing-function: $timing;
  animation-fill-mode: forwards; /* this prevents the animation from restarting! */
}

.element-animation {
  @include animation(0s, 0.8s, animationframes);
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
}
@include keyframes(animationframes) {
  0% {
    transform: translate(0px, 0px);
  }
  15% {
    transform: translate(0px, -25px);
  }
  30% {
    transform: translate(0px, 0px);
  }
  45% {
    transform: translate(0px, -15px);
  }
  60% {
    transform: translate(0px, 0px);
  }
  75% {
    transform: translate(0px, -5px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@include keyframes(fade-out-right) {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}
@include keyframes(sliddIn-bottom-left) {
  from {
    transform: translate(-10px, 10px);
    box-shadow: -3px 3px 3px lightgray;
    border-bottom-left-radius: $border-radius-size;
  }
}
@include keyframes(hinge) {
  0% {
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }
  100% {
    transform-origin: top left;
    transform: rotate3d(0, 0, 1, 80deg);
    animation-timing-function: ease-in-out;
  }
  // 80% {
  //   transform: rotate3d(0, 0, 1, 60deg);
  //   transform-origin: top left;
  //   animation-timing-function: ease-in-out;
  //   opacity: 1;
  // }
  // to {
  //   transform: translate3d(0, 700px, 0);
  //   opacity: 0;
  // }
}
