@import 'preset.scss';
* {
  box-sizing: border-box;
  position: relative;
  // transition: all 0.7s;
}
html {
  font-size: 62.5%;
}
body {
  background-image: $home-image;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: set-text-color($primary-color);
  margin: 0;
  padding: 0;
  font: 1.6rem/2rem 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  line-height: 1.5;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}
h3 {
  font-size: 3rem;
}
a {
  position: relative;
  color: #fff;
  text-decoration: none;
  @keyframes example {
    from {
      width: 0%;
    }
    to {
      width: 100%;
    }
  }
  &:hover {
    color: $secondary-color;
    &:before {
      content: '';
      border-bottom: 0.1rem solid $secondary-color;
      position: absolute;
      bottom: 0;
      animation: example 2s ease-out infinite alternate;
    }
  }
}
header {
  position: fixed;
  z-index: 10;
  width: 100%;
}
main {
  .icons {
    margin-top: 1em;
    a {
      // padding: 0.4em;
      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }
}
.primary-color {
  color: $primary-color;
}
.secondary-color {
  color: $secondary-color;
}
.font-5rem {
  font-size: 5rem;
}
/* react cssTransition */
.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: 2s opacity 250ms ease-in;
  // @include animation(0s,)
}

#app {
  max-width: 1200px;
  margin: 0 auto;
}

@import '../components/Header/header.scss';
@import '../components/Footer/footer.scss';
@import '../components/Navbar/navbar.scss';
@import '../components/Socials/socials.scss';
@import '../components/RepoPreview/repoPreview.scss';
@import '../components/RepoDetailed/repoDetailed.scss';
@import '../components/Footer-sidebar/footerSidebar.scss';

@import '../pages/Home/home.scss';
@import '../pages/Projects/projects.scss';



